@charset "UTF-8";

#h1-myAccount{
    margin: 10px 0px 10px 0px;
}

#subtitle{
    margin: 0px;
}

#form-myAccount{
    margin: 30px 0px 30px 0px;
}

#p-cadastre:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}