@charset "UTF-8";

#appCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;    
}


.div-products-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 90%;
    margin-top: 50px;
    border: 5px solid #1d2d3d;
    border-radius: 10px;
}

#product-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 35vh;
    width: 90%;
    background-color: #1d2d3d;
    border-radius: 20px;
    margin: 20px;
    transition: all 1s ease-out;
}
#product-cart:hover{
    transform: scale(1.01);
    background-color: #152433;
}

#divImagens-cart{
    height: 100%;
    width: 20vw;
    margin: 0px;
}

.produto-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
    padding: 10px;
}

#iquantity-cart{
    height: 40%;
    margin-right: 10px;
    border-radius: 5px;
    width: 5vw;
}

#remover-p{
    margin-bottom: 5px;
}

#deleteIcon, #pixIcon{
    font-size: 40px;
    color: white;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
#deleteIcon:hover{
    color: red;
}

#div-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    width: 90%;
    background-color: #1d2d3d;
    border-radius: 20px;
    transition: all 1s ease-out;
}
#div-details:hover{
    transform: scale(1.01);
    background-color: #152433;
}

.final-prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#calc-entrega{
    transition: all 0.5s ease-out;
    cursor: pointer;
}
#calc-entrega:hover{
    transform: scale(1.05);
}

#container-frete{
    display: none;
    padding: 5px;
}

#icep{
    display: none;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin-right: 5px;
}

#enviaCep{
    display: none;
}

#msg-frete{
    display: none;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 50px;
}

.link-compra{
    height: 50px;
    width: 100%;

    & #bttCompra{
        margin: 0px;
    }
}

#bttCompra{
    height: 100%;
    width: 100%;
    margin-top: 60px;
    font-weight: bold;
    font-size: 20px;
}

#pix-container{
    margin-top: 40px;
    padding: 30px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}