@charset "UTF-8";

body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1{
    color: white;
}

form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 40vw;
    border: 3px solid white;
    padding: 30px;
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px 40px 0px;
    background-color: #17232f;
}

#p-teste{
    color: rgb(175, 0, 0);
    font-size: 20px;
    font-weight: bold;
}

#divImg{
    height: 25vh;
    width: 25vw;
    border: 2px solid black;
}

.newImg{
    height: 100%;
    width: 100%;
    background-size: cover;
}