@charset "UTF-8";

body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1{
    color: white;
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background-color: #17232f;
}

#p-teste{
    color: rgb(175, 0, 0);
    font-size: 20px;
    font-weight: bold;
}

#divImg{
    height: 25vh;
    width: 25vw;
    border: 2px solid black;
}

.newImg{
    height: 100%;
    width: 100%;
    background-size: cover;
}