@charset "UTF-8";

#form-accountDetails{
    width: 80%;
    padding: 10px;
    border: none;
}

.account-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    border: 2px solid white;
    margin: 0px 0px 40px 0px;
}

.container-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 40vw;
}

#label{
    margin: 0px 10px 0px 0px;
}

#inputs{
    width: 30vw;
}

#inputs-senhas{
    text-align: center;
    margin-bottom: 10px;
    height: 45px;
    width: 40vw;
}