@charset "UTF-8";

.app-pedidos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 49vh;
    width: 80%;
    background-color: #17232f;
    margin-top: 20px;
}

.pedidos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 60%;
    padding: 0px 40px 0px 40px;
    border: 3px solid white;
    border-radius: 10px;

    & i{
        margin-right: 20px;
        font-size: 40px;
        color: white;
    }

    & #title{
        margin: 0px 20px 0px 0px;
    }

    & #btt{
        height: 50px;
        width: 100%;
        font-size: 20px;
    }
}

.charges{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0px;
    width: 90vw;
    border: 2px solid white;
    border-radius: 10px;

    & i{
        margin-right: 20px;
        font-size: 40px;
        color: white;
    }
}

.datas-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid purple;
}

.datas-description{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 13vw;
    background-color: green;

    & h1{
        margin: 0;
    }
}

.datas-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 13vw;
    border: 2px solid black;
    background-color: red;
}