@charset "UTF-8";

.app-pedidos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    width: 80%;
    background-color: #17232f;
    margin-top: 20px;
}

#pedidos-title{
    margin-top: 30px;
}

.pedidos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 60%;
    padding: 0px 40px 0px 40px;
    border: 3px solid white;
    border-radius: 10px;

    & i{
        margin-right: 20px;
        font-size: 40px;
        color: white;
    }

    & #title{
        margin: 0px 20px 0px 0px;
    }

    & #btt{
        height: 50px;
        width: 100%;
        font-size: 20px;
    }
}

.charges{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0px;
    width: 90vw;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 50px;

    & i{
        margin-right: 20px;
        font-size: 40px;
        color: white;
    }
}

.datas-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: all 0.5s ease-out;
    cursor: pointer;
}
.datas-container:hover{
    transform: scale(1.03);
}

.datas-description{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 13vw;
    background-color: #1d2d3d;

    & h1{
        margin: 0;
    }
}

.datas-boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 13vw;
    border: 3px solid #1d2d3d;
    cursor: pointer;

    & #title{
        font-size: 19px;
        margin: 0;
    }
}
