@charset "UTF-8";

body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#appCreate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 40px 0px;
    background-color: #17232f;
}

h1{
    color: white;
    font-size: 40px;
}

form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    border: 3px solid white;
    padding: 40px;
    margin-top: 20px;

    & input{
        margin-bottom: 10px;
    }

    & #btt-salvar{
        font-weight: bolder;
    }
}

#divImg{
    height: 55vh;
    width: 35vw;
    border: 2px solid white;
    margin-top: 30px;
    margin-bottom: 50px;
}

.newImg{
    height: 100%;
    width: 100%;
    background-size: cover;
}

#p-teste{
    color: rgb(175, 0, 0);
    font-size: 20px;
    font-weight: bold;
}


.hr{
    width: 100%;
    background-color: white;
}