@charset "UTF-8";


#appProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 40px 0px;
    background-color: #17232f;
}

#div-products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vw;
}

#product-name{
    color: white;
}

h2{
    margin-bottom: 0px;
}

p{
    font-size: 20px;
    margin-bottom: 0px;
    color: #abc7e4;
}


.newImg{
    height: 100%;
    width: 100%;
    background-size: cover;
}

.div-buttons{
    & button{
        font-weight: bolder;
        margin: 0px 2px 0px 2px;
    }
}